:root {
  /* All the colors are calculated based on the base color. */
  --base-color: #cddc39;

  --gray-color: hsl(from var(--base-color) h 0 80);
  --gray-highlight: hsl(from var(--gray-color) h s calc(l * 1.25));

  --color-0-lit: hsl(from var(--base-color) h 80 60);
  --color-0-highlight: hsl(from var(--color-0-lit) h s calc(l * 1.35));
  --color-0-on: hsl(from var(--color-0-lit) h 100 70);

  /* Now we proceed by varying the hue by 45 degrees for each subsequent button. */
  --color-1-lit: hsl(from var(--color-0-lit) calc(h + 45) s l);
  --color-1-highlight: hsl(from var(--color-0-highlight) calc(h + 45) s l);
  --color-1-on: hsl(from var(--color-0-on) calc(h + 45) s l);

  --color-2-lit: hsl(from var(--color-0-lit) calc(h + 90) s l);
  --color-2-highlight: hsl(from var(--color-0-highlight) calc(h + 90) s l);
  --color-2-on: hsl(from var(--color-0-on) calc(h + 90) s l);

  --color-3-lit: hsl(from var(--color-0-lit) calc(h + 135) s l);
  --color-3-highlight: hsl(from var(--color-0-highlight) calc(h + 135) s l);
  --color-3-on: hsl(from var(--color-0-on) calc(h + 135) s l);

  --color-4-lit: hsl(from var(--color-0-lit) calc(h + 180) s l);
  --color-4-highlight: hsl(from var(--color-0-highlight) calc(h + 180) s l);
  --color-4-on: hsl(from var(--color-0-on) calc(h + 180) s l);

  --color-5-lit: hsl(from var(--color-0-lit) calc(h + 225) s l);
  --color-5-highlight: hsl(from var(--color-0-highlight) calc(h + 225) s l);
  --color-5-on: hsl(from var(--color-0-on) calc(h + 225) s l);

  --color-6-lit: hsl(from var(--color-0-lit) calc(h + 270) s l);
  --color-6-highlight: hsl(from var(--color-0-highlight) calc(h + 270) s l);
  --color-6-on: hsl(from var(--color-0-on) calc(h + 270) s l);

  --color-7-lit: hsl(from var(--color-0-lit) calc(h + 315) s l);
  --color-7-highlight: hsl(from var(--color-0-highlight) calc(h + 315) s l);
  --color-7-on: hsl(from var(--color-0-on) calc(h + 315) s l);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  padding: 0;
}

svg {
  display: inline;
  visibility: hidden;
  width: min(0.5in, 10dvw);
  margin: 5%;
  margin-bottom: min(3dvh, 0.2in);
}

svg#logo {
  display: block;
  visibility: visible;
  margin: 0;
  padding: 1%;
  width: min(33dvw, 2in);
  height: auto;
  z-index: -1;
}

div#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 6in;
  max-height: 6in;
}

button {
  width: min(33dvw, 2in);
  height: min(33dvh, 2in);
  border: 0;
  background: radial-gradient(
    at 33.3% 33.3%,
    var(--gray-highlight),
    var(--gray-color)
  );
}

button:focus {
  outline: none;
}

div#panel {
  text-align: right;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' id='logo' viewBox='0 0 25 8'%3E%3Cstyle%3Erect %7Bfill: %23ccc%7D%3C/style%3E%3Crect x='0' y='2' width='1' height='5' /%3E%3Crect x='1' y='1' width='1' height='1' /%3E%3Crect x='2' y='2' width='1' height='5' /%3E%3Crect x='3' y='1' width='1' height='1' /%3E%3Crect x='4' y='2' width='1' height='5' /%3E%3Crect x='6' y='2' width='1' height='1' /%3E%3Crect x='7' y='0' width='1' height='1' /%3E%3Crect x='7' y='2' width='1' height='5' /%3E%3Crect x='9' y='2' width='1' height='5' /%3E%3Crect x='10' y='1' width='1' height='1' /%3E%3Crect x='11' y='2' width='1' height='5' /%3E%3Crect x='12' y='1' width='1' height='1' /%3E%3Crect x='13' y='2' width='1' height='5' /%3E%3Crect x='15' y='2' width='1' height='4' /%3E%3Crect x='16' y='1' width='1' height='1' /%3E%3Crect x='16' y='6' width='1' height='1' /%3E%3Crect x='17' y='2' width='1' height='4' /%3E%3Crect x='19' y='1' width='1' height='2' /%3E%3Crect x='19' y='5' width='1' height='2' /%3E%3Crect x='20' y='3' width='1' height='2' /%3E%3Crect x='21' y='1' width='1' height='2' /%3E%3Crect x='21' y='5' width='1' height='2' /%3E%3Crect x='23' y='2' width='1' height='1' /%3E%3Crect x='24' y='0' width='1' height='1' /%3E%3Crect x='24' y='2' width='1' height='5' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50%;
}

button#key0.lit {
  background: radial-gradient(
    at 33.3% 33.3%,
    var(--color-0-highlight),
    var(--color-0-lit)
  );
}

button#key0.on {
  background: radial-gradient(
    at 33.3% 33.3%,
    var(--color-0-highlight),
    var(--color-0-on)
  );
}

button#key1.lit {
  background: radial-gradient(
    at 33.3% 33.3%,
    var(--color-1-highlight),
    var(--color-1-lit)
  );
}

button#key1.on {
  background: radial-gradient(
    at 33.3% 33.3%,
    var(--color-1-highlight),
    var(--color-1-on)
  );
}

button#key2.lit {
  background: radial-gradient(
    at 33.3% 33.3%,
    var(--color-2-highlight),
    var(--color-2-lit)
  );
}

button#key2.on {
  background: radial-gradient(
    at 33.3% 33.3%,
    var(--color-2-highlight),
    var(--color-2-on)
  );
}

button#key3.lit {
  background: radial-gradient(
    at 33.3% 33.3%,
    var(--color-3-highlight),
    var(--color-3-lit)
  );
}

button#key3.on {
  background: radial-gradient(
    at 33.3% 33.3%,
    var(--color-3-highlight),
    var(--color-3-on)
  );
}

button#key4.lit {
  background: radial-gradient(
    at 33.3% 33.3%,
    var(--color-4-highlight),
    var(--color-4-lit)
  );
}

button#key4.on {
  background: radial-gradient(
    at 33.3% 33.3%,
    var(--color-4-highlight),
    var(--color-4-on)
  );
}

button#key5.lit {
  background: radial-gradient(
    at 33.3% 33.3%,
    var(--color-5-highlight),
    var(--color-5-lit)
  );
}

button#key5.on {
  background: radial-gradient(
    at 33.3% 33.3%,
    var(--color-5-highlight),
    var(--color-5-on)
  );
}

button#key6.lit {
  background: radial-gradient(
    at 33.3% 33.3%,
    var(--color-6-highlight),
    var(--color-6-lit)
  );
}

button#key6.on {
  background: radial-gradient(
    at 33.3% 33.3%,
    var(--color-6-highlight),
    var(--color-6-on)
  );
}

button#key7.lit {
  background: radial-gradient(
    at 33.3% 33.3%,
    var(--color-7-highlight),
    var(--color-7-lit)
  );
}

button#key7.on {
  background: radial-gradient(
    at 33.3% 33.3%,
    var(--color-7-highlight),
    var(--color-7-on)
  );
}

circle.btn {
  fill: white;
  stroke: var(--gray-color);
  stroke-width: max(0.05dvw, 0.5px);
}

circle.indicator {
  fill: var(--gray-color);
  stroke: none;
}

path {
  fill: none;
  stroke: var(--gray-color);
  stroke-width: max(0.05dvw, 0.5px);
}

.on path,
.on circle.btn {
  stroke: #0f0;
}

.on circle.indicator {
  fill: #0f0;
}

.sound {
  visibility: hidden;
}

.on .sound {
  visibility: visible;
}
rect {
  stroke: none;
  fill: var(--gray-color);
}
