* {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  visibility: hidden;
  width: 40%;
}

div.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

button {
  width: 33vw;
  height: 33vh;
  border: 0;
  background: radial-gradient(at 33.3% 33.3%, #fff, #ccc);
}

button:focus {
  outline: none;
}

div#panel {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 6'><style>rect {stroke:none;fill:rgb(204,204,204)}<\/style><rect x='0' y='2' width='1' height='5'/><rect x='1' y='1' width='1' height='1'/><rect x='2' y='2' width='1' height='5'/><rect x='3' y='1' width='1' height='1'/><rect x='4' y='2' width='1' height='5'/><rect x='6' y='2' width='1' height='1'/><rect x='7' y='0' width='1' height='1'/><rect x='7' y='2' width='1' height='5'/><rect x='9' y='2' width='1' height='5'/><rect x='10' y='1' width='1' height='1'/><rect x='11' y='2' width='1' height='5'/><rect x='12' y='1' width='1' height='1'/><rect x='13' y='2' width='1' height='5'/><rect x='15' y='2' width='1' height='4'/><rect x='16' y='1' width='1' height='1'/><rect x='16' y='6' width='1' height='1'/><rect x='17' y='2' width='1' height='4'/><rect x='19' y='1' width='1' height='2'/><rect x='19' y='5' width='1' height='2'/><rect x='20' y='3' width='1' height='2'/><rect x='21' y='1' width='1' height='2'/><rect x='21' y='5' width='1' height='2'/><rect x='23' y='2' width='1' height='1'/><rect x='24' y='0' width='1' height='1'/><rect x='24' y='2' width='1' height='5'/></svg>");
  background-size: 100% 100%;
  background-color: #fff;
  width: 33vw;
  height: 33vh;
  vertical-align: top;
  text-align: right;
}

button#do.lit {
  background: radial-gradient(at 33.3% 33.3%, #cff, #9fc);
}

button#do.on {
  background: radial-gradient(at 33.3% 33.3%, #fff, #9ff);
}

button#re.lit {
  background: radial-gradient(at 33.3% 33.3%, #3ff, #0fc);
}

button#re.on {
  background: radial-gradient(at 33.3% 33.3%, #cff, #0ff);
}

button#mi.lit {
  background: radial-gradient(at 33.3% 33.3%, #3cc, #09c);
}

button#mi.on {
  background: radial-gradient(at 33.3% 33.3%, #3cf, #09f);
}

button#fa.lit {
  background: radial-gradient(at 33.3% 33.3%, #ccc, #99c);
}

button#fa.on {
  background: radial-gradient(at 33.3% 33.3%, #ccf, #99f);
}

button#so.lit {
  background: radial-gradient(at 33.3% 33.3%, #fcf, #f9c);
}

button#so.on {
  background: radial-gradient(at 33.3% 33.3%, #fcf, #f9f);
}

button#la.lit {
  background: radial-gradient(at 33.3% 33.3%, #f3f, #f0c);
}

button#la.on {
  background: radial-gradient(at 33.3% 33.3%, #f9f, #f0f);
}

button#ti.lit {
  background: radial-gradient(at 33.3% 33.3%, #c3c, #90c);
}

button#ti.on {
  background: radial-gradient(at 33.3% 33.3%, #c3f, #90f);
}

button#do1.lit {
  background: radial-gradient(at 33.3% 33.3%, #33c, #00c);
}

button#do1.on {
  background: radial-gradient(at 33.3% 33.3%, #33f, #00f);
}
